.forgotForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .forgotForm .inputBox input{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    background: white;
    border: 1px solid lightgray;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
  }
  .forgotForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 13px 35px;
    pointer-events: none;
    transition: 0.5s;
    color:gray;
  }
  .forgotForm .inputBox input:focus ~ span,
  .forgotForm .inputBox input:valid ~ span
  {
    color: rgb(19, 19, 19);
    font-size: 12px;
    transform: translateY(-25px);
    background-color: white;
  }
  .fbutton {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #521A7A;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    line-height: 48px;
    padding: 0 16px;
    vertical-align: middle;
  }
  .fbutton:hover {
    background-color: #7924b6;
  }