.sform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 397px;
  height: 510px;
  padding: 10px;
}

.scaption {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 4px;
}
.semail-box,.spw-box,
.name {
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background: white;
  border: 1px solid lightgray;
  height: 22px;
  line-height: 16px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.signUp {
  text-align: left;
    margin-bottom: 5px;
    font-size: 2.0rem;
    font-weight: 400;
    margin-left: 4px;
}


.signup-button {
  background-color: #521A7A;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  line-height: 48px;
  padding: 0 16px;
  width: 364px;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-top: 15px;
}

.signup-button:hover {
  background-color: #7924b6;
  cursor: pointer;
}
