* {
    font-family: sans-serif;
}

body {
  position: fixed;
  min-height: 100vh;
}

.big-box {
    display: block;
    width: 1262px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    margin-top: 100px;
  }
  
  .left-box {
    width: 400px;
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 20px;
    padding-right: 32px;
    display: inline-block;
    vertical-align: top;
  }
  
  .image-box {
    padding: 112px 0 16px;
  }
  
  .logo-caption {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    width: 490px;
    padding: 0 0 20px;
    display: inline-block;
    letter-spacing: normal;
    margin: 0px;
  }
.right-box {
    display: inline-block;
    vertical-align: top;
    height: 456px;
    width: 396px;
  }

  @media only screen and (max-width: 800px) {
    .trt {
      display: none;
    }
    .big-box {
      width: 100%;
    }

  }
  .email-box {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    background: white;
    border: 1px solid lightgray;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
  }
  
  .pw-box {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    background: white;
    border: 1px solid lightgray;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
  }
  
  .email-box:focus,
  .pw-box:focus {
    outline: 1px solid #521A7A;
    outline-offset: -2px;
  }
  
  .login-button {
    background-color: #521A7A;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    vertical-align: middle;
    margin-bottom: 15px;
  }
  
  .login-button:hover {
    background-color: #7924b6;
    cursor: pointer;
  }
  

  
  .line {
    align-items: center;
    border-bottom: 1px solid lightgray;
    display: flex;
    margin: 6px 16px 0px;
    text-align: center;
  }
  
  .adjust-forgot-pw {
    margin-left: 215px;
    color: #521A7A;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    cursor: pointer;
  }

  .adjust-forgot-pw:hover{
    color: #7924b6;
    text-decoration: underline;
  }
  .signup {
    text-align: center;
    margin-bottom: 20px;
  }
  .signup span {
    color: #7924b6 ;
    cursor: pointer;
  }
  .signup span:hover {
    text-decoration: underline;
  }
  
  .form-container {
    align-items: center;
    border: none;
    box-sizing: border-box;
    width: 397px;
    height: 350px;
    margin: 40px;
    padding: 10px;
    margin-left: 150px;
  }
  
  .space {
    padding: 6px;
  }
  
  .spaceTwo {
    padding: 0px 6px;
  }
  .adjust {
    margin: 10px;
  }
  
  .adjustTwo {
    margin: 10px 10px 16px;
  }

  #created {
    text-align: center;

  }

  .loginForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .loginForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 13px 17px;
    pointer-events: none;
    transition: 0.5s;
    color:gray;
    
    
  }
  .loginForm .inputBox input:focus ~ span,
  .loginForm .inputBox input:valid ~ span
  {
    color: rgb(19, 19, 19);
    font-size: 12px;
    transform: translateY(-23px);
    background-color: white;
    padding: 5px;
  }

.login{
    margin-left: 10px;
    font-size: 2.5rem;
    font-weight: 400;
  }
  .caption {
    margin-left: 10px;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }



